<html>

	<head>
		<title>Add to Contacts</title>
		<meta charset="utf-8" />
		<link media="all" type="text/css" rel="stylesheet" href="http://www.viadeo.com/resource/20121113124813/coreui.css">
		<script type="text/javascript">(function(){var VNS = window.VNS = {context: {brand : "viadeo", currentEncryptedMemberId : "0021t6zaasbwdbwi", currentUrl : "%2Ftableaudebord%2Faccueil%2F", scriptsVersion : "20121113143502", navLang : "fr"}};})();</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://static0.viadeo-static.com/resource/20121113143502/prototype.js"></script>
		<script type="text/javascript" src="http://static3.viadeo-static.com/resource/20121113143502/tetra-viadeo-VNS.js"></script>
		<style>.no-padding{padding:0;} .pointer:hover{cursor:pointer;} .title{color: #ccc;}</style>
	</head>

	<body>
		<div class="gr ptxl">
			<div class="gu gu-1of3">&nbsp;</div>
			<div class="gu gu-1of3">
				<ul class="divider-before no-padding">
					<li class="divider-after rc pam">
						<div class="gr">
							<div class="gu gu-4of5">
								<img 
									width="40" 
									height="40" 
									class="img avatar" 
									src="http://viadeo.github.com/tetra-ui/img/avatars/avatar-n-40x40.png" 
								/>
								<span class="bd plm">
									<h5 class="pbxs mbxs"><a href="/">My Name</a></h5>
									<p class="title pbxs mbxs">My function</p>
									<a class="btn btn-primary add-to-contact" title="Add to my contacts">Ajouter à mes contacts</a>
								</span>
							</div>
							<div class="gu gu-last tar">
								<a href="" class="tooltip">
									<i class="vicon pointer remove-from-suggestion" title="Retirer">&times;</i>
									<span class="tooltip-content">Tooltip content</span>
								</a>
							</div>
						</div>
					</li>
					<li class="divider-after">b</li>
					<li class="divider-after">c</li>
				</ul>
			</div>
			<div class="gu gu-last">&nbsp;</div>
		</div>

	</body>

</html>






