<!doctype html>
<html>
        
        <head>
			<meta charset="utf-8" />
            <title>{% block title %}Add to Contacts{% endblock %}</title>
			<link media="all" type="text/css" rel="stylesheet" href="http://www.viadeo.com/resource/20121102124528/coreui.css">
			<link media="all" type="text/css" rel="stylesheet" href="/css/main.css">
			<!--[if gte IE 9]> <style type="text/css"> .gradient { filter: none; } </style> <![endif]-->
			
			<script src="http://viadeo.github.com/tetra-ui/src/js/lib/jquery/1.9.1/jquery.min.js"></script>
			<script src="http://viadeo.github.com/tetra-ui/src/js/lib/tetra/release/tetra-core.js"></script>
			<script>tetra.start();</script>
		</head>
        
        <body>
                {% block body %}{% endblock %}
        </body>
</html>
