<!doctype html>
<html>
        
        <head>
			<meta charset="utf-8" />
            <title>{% block title %}Add to Contacts{% endblock %}</title>
			<link media="all" type="text/css" rel="stylesheet" href="http://www.viadeo.com/resource/20121102124528/coreui.css">
			<link media="all" type="text/css" rel="stylesheet" href="/css/main.css">
			
			<script src="http://viadeo.github.com//tetra-ui/lib/jquery/jquery.min.js"></script>
			<script src="http://viadeo.github.com//tetra-ui/lib/tetra/tetra-core.min.js"></script>
			<script src="http://viadeo.github.com//tetra-ui/js/tetra-start.js"></script>
		</head>
        
        <body>
                {% block body %}{% endblock %}
        </body>
</html>
