{% extends "layout.html" %}

{% block title %}Contacts suggestions{% endblock %}

{% block body %}

		<div class="gr paxl">
			<div class="gu gu-1of3" id="suggested-contacts">
			
				<h1>Sync vs Async UI</h1>
				
				<p class="pbxl">
					Same view, same webservice, different controllers' behavior. 
					Notice that async has no loading state. 
					Network delay is fixed at <code>{{ delay }}ms</code>.
				</p>
			
				<ul class="nav nav-tabs mbxl">
					<li {% if !async %}class="active"{% endif %}><a href="/sync">Sync</a></li>
					<li {% if  async %}class="active"{% endif %}><a href="/async">Async</a></li>
				</ul>
			
				<h3 class="subh-alt ptxs pbxs">Les connaissez-vous ?</h3>
				<ul class="divider-before no-padding">
				{% for suggestion in suggestions %}
					{% include 'suggestion.html' %}
				{% endfor %}
				</ul>
				
			</div>
		</div>
		
		<script src="/js/models.js"></script>
		<script src="{% if async %}/js/async-ctrl.js{% else %}/js/sync-ctrl.js{% endif %}"></script>
		<script src="/js/view.js"></script>
		<script type="text/html">
			{% include 'suggestion.html' with keys %}
		</script>
		
{% endblock %}
